// Path: src/styles/_utilities.scss

/////  utility classes /////

// Layout //

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: var(--space-s-m);
}

.d-block {
  display: block;
}

.centred {
  margin-inline: auto;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

// margins //

.space-s {
  margin-top: var(--space-s);
}

.space-m {
  margin-top: var(--space-m);
}

.space-l {
  margin-top: var(--space-l);
}

.space-xl {
  margin-top: var(--space-xl);
}

.space-xl-2xl {
  margin-top: var(--space-xl-2xl);
}

/////  Text ////

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

// Font Sizes //

.font-xs {
  font-size: var(--step--2);
}

///// Colors /////

.dark-grey {
  color: var(--clr-dark-grey);
}
