@use "./variables.scss" as *;
@use "./utilities.scss" as *;
@use "./reset.css" as *;

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-variation-settings: "wght" 300 700;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  // width: 100%;
  // max-width: 80rem;
  font-weight: 300;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
  text-decoration: underline;
}

p {
  font-size: var(--step-0);
  max-width: 65ch;
}

html.dark {
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

html.light {
  background-color: #d9d9d9;
  color: #242424;
}

.dark a {
  color: var(--clr-green);
}

// animation fade-in

.animation {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
  transition: all 1s ease-in-out;
}

.animation--hidden {
  opacity: 0;
  transform: translateY(4rem);
}
