@use "./variables.scss" as *;
@use "./utilities.scss" as *;
@use "./reset.css" as *;

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-variation-settings: "wght" 300 700;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-weight: 300;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

p {
  font-size: var(--step-0);
  max-width: 65ch;
}

html.dark {
  --clr-bg: var(--clr-bg-dark);
  --clr-secondary: var(--clr-secondary-dark);
  --clr-primary-font: var(--clr-primary-font-dark);
  --clr-links: var(--clr-links-dark);
  --clr-filter-shadow: var(--clr-green);
  --clr-filter-bg: var(--clr-filter-bg-dark);
  --clr-filter-bg-hvr: var(--clr-filter-bg-hvr-dark);

  background-color: var(--clr-bg);
  color: var(--clr-primary-font);

  & a {
    color: var(--clr-links);
  }
}

html.light {
  background-color: #d9d9d9;
  color: #242424;
}

// animation fade-in

.animation {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
  transition: all 1s ease-in-out;
}

.animation--hidden {
  opacity: 0;
  transform: translateY(4rem);
}
