@use "./variables.scss" as *;
@use "./utilities.scss" as *;
@use "./reset.css" as *;

@font-face {
  font-family: "Space Grotesk";
  src: url("/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-variation-settings: "wght" 300 700;
}

html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  font-weight: 300;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

p {
  font-size: var(--step-0);
  max-width: 65ch;
}

html.dark {
  --clr-bg: var(--clr-bg-dark);
  --clr-bg-header: var(--clr-bg-header-dark);
  --clr-bg-footer: var(--clr-bg-footer-dark);
  --clr-secondary: var(--clr-secondary-dark);
  --clr-primary-font: var(--clr-primary-font-dark);
  --clr-links: var(--clr-links-dark);
  --clr-btn-bg: var(--clr-btn-bg-dark);
  --clr-underline: var(--clr-underline-dark);
  --clr-filter-shadow: var(--clr-green);
  --clr-filter-bg: var(--clr-filter-bg-dark);
  --clr-filter-bg-hvr: var(--clr-filter-bg-hvr-dark);

  --input-background: var(--input-background-dark);
  --input-grey: var(--input-grey-dark);
  --input-focus-h: var(--input-focus-h-dark);
  --input-focus-s: var(--input-focus-s-dark);
  --input-focus-l: var(--input-focus-l-dark);

  background-color: var(--clr-bg);
  color: var(--clr-primary-font);

  & a {
    color: var(--clr-links);
  }
}

html.light {
  --clr-bg: var(--clr-bg-light);
  --clr-bg-header: var(--clr-bg-header-light);
  --clr-bg-footer: var(--clr-bg-footer-light);
  --clr-mark-hdr: var(--clr-mark-hdr-light);
  --clr-secondary: hsl(266, 22%, 21%);
  --clr-primary-font: var(--clr-primary-font-light);
  --clr-links: var(--clr-links-light);
  --clr-underline: var(--clr-underline-light);
  --clr-btn-bg: var(--clr-btn-bg-light);
  --clr-filter-shadow: var(--clr-green);
  --clr-filter-bg: var(--clr-filter-bg-light);
  --clr-filter-bg-hvr: var(--clr-filter-bg-hvr-light);

  --input-background: var(--input-background-light);
  --input-grey: var(--input-grey-light);
  --input-focus-h: var(--input-focus-h-light);
  --input-focus-s: var(--input-focus-s-light);
  --input-focus-l: var(--input-focus-l-light);

  background-color: var(--clr-bg);
  color: var(--clr-primary-font);

  & a {
    color: var(--clr-links);
  }
}

// No scroll when nav is open
.no-scroll {
  overflow: hidden;
}

// animation fade-in

.animation {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.5s;
  transition: all 1s ease-in-out;
}

.animation--hidden {
  opacity: 0;
  transform: translateY(4rem);
}
