---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Mark Lawson | Frontend Developer";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Hello 👋</h1>
  <h2>My Name's Mark</h2>
</BaseLayout>
