---
import projectData from "../data/project-data.json";

const { images, title, tech } = projectData[0];
---

<section class="container space-xl">
  <h2>Featured Project</h2>
  <img src={images.small} alt={title} />
  <h3>{title}</h3>
  <ul>
    {tech.map((item) => <li>{item}</li>)}
  </ul>
</section>

<style>
  ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
  }
</style>
