---
import projectData from "../data/project-data.json";

const { images, title, tech } = projectData[0];
---

<section class="container space-xl">
  <h2>Featured Project</h2>
  <img class="space-l" src={images.small} alt={title} />
  <h3 class="space-s">{title}</h3>
  <ul class="flex">
    {tech.map((item) => <li>{item}</li>)}
  </ul>
  <div class="project-links space-s flex">
    <a href={`/project-detail/${0}`}>View Project</a>
    <a href="/">View Code</a>
  </div>
</section>

<style>
  h2 {
    text-align: center;
  }

  .project-links {
    --gap: var(--space-m);
  }
</style>
