---
import Navigation from "./Navigation.astro";
import NavToggle from "./NavToggle.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
---

<header>
  <div class="container flex space-between align-center">
    <ThemeIcon />
    <a class="mark-home" href="/">MarkLawson</a>
    <nav>
      <Navigation />
    </nav>
    <NavToggle />
  </div>
</header>

<style>
  header {
    padding: var(--space-s-m) 0;
    border-bottom: 1px solid var(--clr-lilac);
  }

  .mark-home {
    margin-inline: auto;
    font-size: var(--step-2);
    font-weight: 700;
    text-decoration: none;
  }
</style>
