---
import HeroImage from "../components/HeroImage.astro";
---

<section class="hero-image">
  <HeroImage />
  <h1>Hello 👋 <br />My Name's Mark</h1>
  <p>
    Based in Bristol, UK. I’m an aspiring front-end developer, who, while lost
    in music, is also now lost in code. I’m driven to produce excellent things
    for the web, making them as accessible as I possibly can with the tools I
    currently have. <a href="/about">Read More ...</a>
  </p>
</section>

<style>
  section {
    text-align: center;
  }

  a {
    text-decoration: none;
  }
</style>
