---
---

<ul
  id="primary-navigation"
  data-visible="false"
  class="primary-navigation flex"
>
  <li class="active"><a href="/">Home</a></li>
  <li><a href="/about/">About</a></li>
  <li><a href="/projects/">Projects</a></li>
  <li class="blog"><a href="/blog/">Blog</a></li>
  <li><a href="/contact/">Contact Me</a></li>
</ul>

<style lang="scss">
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    flex-direction: column;
    inset: 0 0 0 30%;
    position: fixed;
    background: hsl(var(--clr-dark) / 0.97);

    padding: min(10rem, 15vh) 2rem;
    z-index: 1;
    transform: translateX(100%);
    transition: transform ease-out 0.5s;

    &[data-visible="true"] {
      transform: translateX(0);
    }
  }

  @supports (backdrop-filter: blur(3rem)) or
    (-webkit-backdrop-filter: blur(3rem)) {
    .primary-navigation {
      backdrop-filter: blur(3rem);
      -webkit-backdrop-filter: blur(3rem);
      background: hsl(var(--clr-dark) / 0.5);
    }
  }

  .blog {
    margin-bottom: auto;
  }
</style>
