---
---

<button class="btn uppercase flex font-xs" id="reset-btn"> Reset</button>

<style>
  #reset-btn {
    background-color: #105651;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: inherit;
  }
</style>
